@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}


div#carousel { 
    perspective: 1000px;
    background: #100000;
    padding-top: 12%;
    font-size: 0;
    overflow: hidden;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 80%;
    max-width: 425px;
    position: absolute;
    left: 10%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent;
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -3rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }
  canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }
  .bdaywish{
    position: absolute;
    margin-top: 0px;
    background: url(../img/KDB.png) right bottom no-repeat, url(../img/Messi.png) left bottom no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .birthwish { 
    position: absolute;
    margin-top: 15vh;
    text-align: center;
  }
  h1 {
    width: 100%;
    font-size: 333%;
    color: black;
    opacity: 1;
  }
  h2 {
    text-align: center;
    padding-top: 2%;
  }
  #canvas2 {
    cursor: crosshair;
    display: block;
  }
  .shiny{
    margin-top: 10px;
    border:thin solid black;
    border-radius:3px;
    padding:10px 30px;
    color:#BBB;
    box-shadow:0px 1px 0 #AAA inset, 0px 1px 0 #444;
    outline:none;
    background: #676e70; /* Old browsers */
  background: -moz-linear-gradient(top,  #676e70 0%, #2a2d2c 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676e70), color-stop(50%,#2a2d2c), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676e70', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
  
  }
  
  .shiny:hover{
    box-shadow:0px 1px 0 #AAA inset,0 0 20px -5px #999 inset, 0px 1px 0 #444;
    color:white;
  }
  
  .shiny:active{
    box-shadow:0 0 10px #000 inset, 0px 1px 0 #444;
    color:#999;
    background: #202323; /* Old browsers */
  background: -moz-linear-gradient(top,  #202323 0%, #131414 50%, #000000 50%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202323), color-stop(50%,#131414), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202323', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #s1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .aging {
    background: url('../img/25years.png') bottom right no-repeat;
    background-size: contain;
    background-attachment: fixed;
    overflow-x: hidden;
  }
 
  .buttonClick{
    position: relative;
    text-align: center;
  }
  .pause {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #00ff3763;
    border: 1px solid aqua;
    box-shadow: 0px 2px 6px 2px #00ffff87;
    color: #fa081ffa;
  }
  ul li img{
    display: block;
    width: auto;
    height: 150px;
  }
  .pgallery{
    width: 100%;
    overflow: hidden;
  }
  article {
    display: flex;
    width: 200%;
    animation: bannermove 20s linear infinite;
  }
  
  article.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
.pgallerydiv {
    width: 100%;
  }
  
  ul {
    display: flex;
    background: red;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  li {
    width: 100%;
    background: blue;
  }
  
  li:nth-child(2) {
    background: green;
  }
  
  li:nth-child(3) {
    background: yellow;
  }
  
  @keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }